/*!
 *  build: vue-admin-better 
 *  vue-admin-better.com 
 *  https://gitee.com/chu1204505056/vue-admin-better 
 *  time: 2023-11-23 18:14:32
 */[data-v-217a3901]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#21252b}.demo-table-expand label[data-v-217a3901]{color:#99a9bf}.demo-table-expand .el-form-item[data-v-217a3901]{margin-right:0;margin-bottom:0;width:100%}.el-tag--success[data-v-217a3901]{white-space:wrap;max-width:200px}